body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Nunito" ,"Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-image: url('./assets/icons/blub-2@3x_clipped_rev_1.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: 70px;
  background-origin: content-box;
  box-sizing: border-box;
  background-origin: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
