nav.Nav {
  display: flex; 
  background-color: #1f234c;
  color: #ffffff;
  height: 80px;
  border-radius: 0 0 0 50px;
  padding-bottom: 5%;
  align-content: space-between;
  width: 100%;
  margin: -1px 0 0 0;
  
}
nav.Nav div {
  padding: 5% 10% 5% 5%;
  
}
nav .Nav_link_container {
  width: 100vw;
  display: flex;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
nav p {
  margin: 0 auto;
  padding: 0;
}
/* nav .navbar_link {
  margin: 0 auto;
  padding: 0;
  height: 40%;
  display: flex;
  border-right: 3px solid grey;
  flex-direction: column;
  align-content: center;
  justify-content: center;
} */
nav .navbar_link {
  text-align: center;
  text-decoration: none;
  padding: 10%;
}
nav .pinkButton {
  background: #ee5d81;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 14px;
}

nav  * {
  margin: 0;
  padding: 0;
}