.Login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-top: 5em;
}


.Login-input-field {
  height: 41.7px;
  opacity: 0.39;
  border-radius: 10px;
  border: solid 1px #bec0c7;
  background-color: #fbfbfb;
  margin: 10px;
}

.Login-input-text {
  padding: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bec0c7;
  -webkit-appearance: none;
  border-style: none;
}

.Login-button {
  width: 266px;
  height: 50px;
  border-radius: 24.5px;
  background-color: #5764d3;
}

.Button-text {
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Login-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3d3d;
  margin: 10px;
}