body {
  -webkit-font-smoothing: none;

}

.Monstera {
  height: 18em;
  overflow:hidden;

}

.Care-Plant-box {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width: 374px;
  height: 50px;
  opacity: 0.3;
  background-color: #e0e1f3;
  font-family: Nunito;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

}

.Plant-links, .Care-links {
   text-decoration:none;
   align-self: center;
   overflow:hidden;
   color: #2b2a2a;
 }

 .Plant-links:hover, .Care-links:hover {
   color: #2b2a2a;
 }

.Box {
  width: 187px;
  height: 42px;
  border-radius: 10px;
  border: solid 1px rgba(31, 35, 76, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bec0c7;
}

.Box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Box-label {
  width: 375px;

}

form {
  display: flex;
  flex-direction: column;
  margin: 2em;
}