

.All-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Icon-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 15rem;
}

.Icon-image {
  width: 5em;
  height: auto;
  align-self: center;
}

.Plant-image{
  object-fit: cover;
  height: 8rem;
  width: 100vw;
  overflow: hidden;
}

.Wave {
  display: flex;
    justify-content: center;
    margin: 1em;
}