

.All-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Icon-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 15rem;
}

.Icon-image {
  width: 5em;
  height: auto;
  align-self: center;
}

.Plant-image{
  object-fit: cover;
  height: 8rem;
  width: 100vw;
  overflow: hidden;
}

.Wave {
  display: flex;
    justify-content: center;
    margin: 1em;
}

.Plant-info-header {
  display: flex;
  background-color: #1f234c;
  color: #ffffff;
  height: 80px;
  padding-bottom: 5%;
  align-content: space-between;
  width: 100%;
  margin: 0;
}

.Plant-info-white-links {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #1f234c;
  border-radius: 0 0 0 50px;
  padding: 5%;
  align-content: space-between;
  width: 100%;
  margin: 0;
}
.pinkButton {
  background: #ee5d81;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 14px;
}